
//VARIABLES
$pageGradient: linear-gradient(to top, #fff, #f1f1fa);
$colorTopGradient: #e6e8f5;
$colorBottomGradient: #ffffff;
$colorTitle: #182370;
$colorTitileFirst: #284df8;
$colorText: #4780b9;
$colorBtn: #ffab02;
$font: Arial, Helvetica, sans-serif ;

//BREAKPOINTS
$md1: 757.98;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $pageGradient;
    background-attachment: fixed;
    font-family: $font;
}

.page {
    width: 100%;
    height: 100%;
    &__background {
        width: 100%;
        height: 100%;
        &-square {
            width: 33%;
            height: 65%;
            border-radius: 90% 0 0 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom, $colorTopGradient, $colorBottomGradient);
        }
        &-triangle {
            width: 0;
	        height: 0;
	        border-width: 0 400px 300px 0;
	        border-color: transparent $colorTopGradient transparent transparent;
	        border-style: solid;
            position: absolute;
            top: 0;
            right: 0;
        }
        &-circle {
            width: 15%;
            height: 20%;
            border-radius: 100% 30% 20% 20%;
            transform: rotate(45deg);
            background-color: $colorTopGradient;
            position: absolute;
            right: 14%;
            top: 38%;
        }
    }
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 1% 4%;
        border: solid 2px black;
        .page__welcome{
            flex-basis: 50%;
            align-self: center;
            border: solid 1px red;
            &-tag {
                color: $colorText;
                font-size: 1em;
            }
            &-title {
                color: $colorTitle;
                margin-top: 10px;
                font-size: 45px;
                margin-bottom: 0;
                #first {
                    color: $colorTitileFirst;
                }
            }
            &-text {
                color: $colorText;
                line-height: 1.5em;
                font-size: 18px;
            }
            &-btn {
                color: #fff;
                background-color: $colorBtn;
                border: none;
                padding: 10px;
                border-radius: 4px;
                font-size: 15px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__description {
        border: solid 1px green;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 50%;
        margin-left: 5%;
        ._box {
            flex-basis: 45%;
            height: 20%;
            background-color: white;
            border: 1px solid grey;
            border-radius: 2px;
            margin: 0 10px;
            padding: 20px;
            .box__title {
                color: $colorTitle;
                line-height: 30px;
                margin-bottom: 2%;
                margin-top: 3%;
                font-size: 18px;
            }
            .box__text {
                margin-top: 0;
                margin-bottom: 0;
                color: $colorText;
                font-size: 14px;
                line-height: 20px;
            }
        }

        ._group2 {
            margin-top: 5%;
        }

        .material-icons {
            padding: 10px;
            border-radius: 4px;
        }
        .page__box-1 {
            .material-icons {
                background-color: #bbdefb;
                color: #1e88e5;
            }
        }
        .page__box-2 {
            .material-icons {
                background-color:  #c8e6c9;
                color: #5eae62;
            }
        }
        .page__box-3 {
            .material-icons {
                background-color:  #fff9c4;
                color: #f9a825;
            }
        }
        .page__box-4 {
            .material-icons {
                background-color:  #e1bee7;
                color: #8d25aa;
            }
        }

    }
}