
//VARIABLES
$pageGradient: linear-gradient(to top, #fff, #f1f1fa);
$colorTopGradient: #eff0f8;
$colorBottomGradient: #ffffff;
$colorTitle: #495099;
$colorTitileFirst: #314efe;
$colorText: #858fcc;
$colorBtn: #ffab02;
$font: Arial, Helvetica, sans-serif;

//BREAKPOINTS
$md1: 757.98;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $pageGradient;
    background-attachment: fixed;
    font-family: $font;
}

.page {
    width: 100%;
    height: 100%;
    &__background {
        width: 100%;
        height: 100%;
        &-square {
            width: 35%;
            height: 65%;
            border-radius: 99% 0 0 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom, $colorTopGradient, $colorBottomGradient);
        }
        &-triangle {
            width: 0;
	        height: 0;
	        border-width: 0 400px 250px 0;
	        border-color: transparent $colorTopGradient transparent transparent;
	        border-style: solid;
            position: absolute;
            top: 0;
            right: 0;
        }
        &-circle {
            width: 15%;
            height: 18%;
            border-radius: 100% 10% 20% 20%;
            transform: rotate(45deg);
            background-color: $colorTopGradient;
            position: absolute;
            right: 15%;
            top: 30%;
        }
    }
    &__content {
        position: relative;
        display: flex;
        width: 95%;
        height: auto;
        margin: 2% 2% auto 2%;
        border: solid 2px black;
        .page__welcome{
            flex-basis: 50%;
            align-self: center;
            border: solid 1px red;
            &-tag {
                color: $colorText;
                font-size: 12px;
            }
            &-title {
                color: $colorTitle;
                margin-top: 0;
                #first {
                    color: $colorTitileFirst;
                }
            }
            &-text {
                color: $colorText;
            }
            &-btn {
                color: #fff;
                background-color: $colorBtn;
                border: none;
                padding: 8px;
                border-radius: 4px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__description {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;
        ._box {
            height: 180px;
            width: 230px;
            background-color: white;
            border: 1px solid grey;
            border-radius: 2px;
            margin: 10px;
            padding: 20px;
            .box__title {
                color: $colorTitle;
                line-height: 30px;
                margin-bottom: 2%;
            }
            .box__text {
                margin-top: 0;
                color: $colorText;
            }
        }
        .material-icons {
            padding: 5px;
            border-radius: 4px;
        }
        .page__box-1 {
            .material-icons {
                background-color: #bbdefb;
                color: #1e88e5;
            }
        }
        .page__box-2 {
            .material-icons {
                background-color:  #c8e6c9;
                color: #5eae62;
            }
        }
        .page__box-3 {
            .material-icons {
                background-color:  #fff9c4;
                color: #f9a825;
            }
        }
        .page__box-4 {
            .material-icons {
                background-color:  #e1bee7;
                color: #8d25aa;
            }
        }

    }
}