
//STYLE
$pageGradient: linear-gradient(to top, #fff, #f1f1fa);
$colorTopGradient: #e6e8f5;
$colorBottomGradient: #ffffff;
$colorTitle: #182370;
$colorTitileFirst: #284df8;
$colorText: #4780b9;
$colorBtn: #ffab02;
$font: Arial, Helvetica, sans-serif ;

//BREAKPOINTS
$md1: 768px;
$md2: 480px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: $pageGradient;
    background-attachment: fixed;
    font-family: $font;
}

.page {
    width: 100%;
    height: 100%;
    &__background {
        width: 100%;
        height: 100%;
        &-square {
            width: 33%;
            height: 65%;
            border-radius: 90% 0 0 0;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom, $colorTopGradient, $colorBottomGradient);
            @media(max-width: $md2) {
                width: 53%;
                height: 85%;
            }
        }
        &-triangle {
            width: 0;
	        height: 0;
	        border-width: 0 400px 300px 0;
	        border-color: transparent $colorTopGradient transparent transparent;
	        border-style: solid;
            position: absolute;
            top: 0;
            right: 0;
            @media(max-width: $md1) {
                border-width: 0 200px 150px 0;                
            }
            @media(max-width: $md2) {
                display: none;                
            }
        }
        &-circle {
            width: 15%;
            height: 20%;
            border-radius: 100% 30% 20% 20%;
            transform: rotate(45deg);
            background-color: $colorTopGradient;
            position: absolute;
            right: 14%;
            top: 38%;
            @media(max-width: $md2) {
                display: none;                
            }
        }
    }
    &__content {
        position: relative;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        padding: 1% 4%;
        //border: solid 2px black;
        @media(max-width: $md1) {
            height: 95%;
        }
        @media(max-width: $md2) {
            display: flex;
            flex-direction: column;
        }
        .page__welcome{
            flex-basis: 50%;
            align-self: center;
            //border: solid 1px red;
            &-tag {
                color: $colorText;
                font-size: 1em;
                @media(max-width: $md1) {
                    font-size: 0.5em;
                }
            }
            &-title {
                color: $colorTitle;
                margin-top: 10px;
                font-size: 45px;
                margin-bottom: 0;
                #first {
                    color: $colorTitileFirst;
                }
                @media(max-width: $md1) {
                    font-size: 30px;
                }
            }
            &-text {
                color: $colorText;
                line-height: 1.5em;
                font-size: 18px;
                @media(max-width: $md1) {
                    font-size: 14px;
                }
            }
            &-btn {
                color: #fff;
                background-color: $colorBtn;
                border: none;
                padding: 10px;
                border-radius: 4px;
                font-size: 15px;
                &:hover {
                    cursor: pointer;
                }
                @media(max-width: $md1) {
                    font-size: 13px;
                    width: 80%;
                }
                @media(max-width: $md2) {
                    font-size: 13px;
                    width: 100%;
                }
            }
        }
    }
    &__description {
        //border: solid 1px green;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 50%;
        margin-left: 5%;
        @media(max-width: $md1) {
            margin-left: 0;
            display: flex;
            padding: 0;
        }
        @media(max-width: $md2) {
            margin-top: 5%;
        }
        ._box {
            flex-basis: 40%;
            height: 20%;
            background-color: white;
            border: 1px solid grey;
            border-radius: 2px;
            margin: 0 13px;
            padding: 20px;
            @media(max-width: $md1) {
                flex-basis: 100%;
                margin-bottom: 2%;
                display: grid;
                grid-template-columns: 1fr 9fr;
                grid-template-rows: auto;
                grid-template-areas: "icon title"
                                     "icon text"
                                      ;
            }
            .box__title {
                color: $colorTitle;
                line-height: 30px;
                margin-bottom: 2%;
                margin-top: 3%;
                font-size: 18px;
                @media(max-width: $md1) {
                    font-size: 12px;
                    padding: 0;
                    display: grid;
                    grid-area: "title";
                    padding: 0;
                    margin: 0 0 0 10px;                                        
                }
            }
            .box__text {
                margin-top: 0;
                margin-bottom: 0;
                color: $colorText;
                font-size: 13px;
                line-height: 20px;
                @media(max-width: $md1) {
                    font-size: 12px;
                    line-height: 12px;
                    margin: 0 0 0 10px;
                }
            }
            @media(max-width: $md1) {
                height: auto;
                padding: 10px;
                display: grid;
                grid-area: "text";
            }
        }

        ._group2 {
            margin-top: 5%;
            @media(max-width: $md1) {
                margin-top: 0;
            }
        }

        .material-icons {
            padding: 10px;
            border-radius: 4px;
            @media(max-width: $md1) {
                padding: 5px;
                align-self: center;
                display: grid;
                grid-area: icon;
                align-items: start;
            }
        }
        .page__box-1 {
            .material-icons {
                background-color: #bbdefb;
                color: #1e88e5;
            }
        }
        .page__box-2 {
            .material-icons {
                background-color:  #c8e6c9;
                color: #5eae62;
            }
        }
        .page__box-3 {
            .material-icons {
                background-color:  #fff9c4;
                color: #f9a825;
            }
        }
        .page__box-4 {
            .material-icons {
                background-color:  #e1bee7;
                color: #8d25aa;
            }
        }

    }
}